@{
  Layout = "_Layout";
}

@model Library.Models.Book

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  @Html.LabelFor(model => model.PubYear)
  @Html.EditorFor(model => model.PubYear)

  <label for="authors">Author: </label>
  <input type="text" name="author" list="authors">
  <datalist id="authors">
  @foreach (var author in ViewBag.Authors)
  {
    <option value="@author.Text">@author.Text</option>
  }
  </datalist>

  <input type="submit" value="Edit" />
}