@{
  Layout = "_Layout";
}

@using Library.Models

<h1>Authors</h1>

@Html.ActionLink("Add an Author", "Create")
@Html.ActionLink("Add Book", "Create", "Books")
@Html.ActionLink("Home", "Index", "Account")

@foreach (var author in Model)
{
  <p>@author.Name</p>
}



@* @using(Html.BeginForm())
{
  @Html.TextBoxFor()
} *@
